<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :src="image" alt="profile-image">
          </div>
          <div class="product-info">
            <h1>{{ girl }}</h1>
            <p>{{ description }}</p>
            <p v-show="isFemale">Female</p>
            <!-- <p v-else>Male</p> -->

            <p v-if="isRelease">Released!</p>
            <p v-else>Not Release</p>

            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory > 0 && inventory <= 10">Almost Sold Out!</p>
            <p v-else">Out of Stock</p>
            <a :href="url">Click here to see information!</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountApp = app.mount('#app');
    </script>
  </body>
</html>